.tour_inner {
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-left: 100px; */
  margin-top: 100px;
}

.images_box {
  width: 100% !important;
  display: flex;
  justify-content: center;
  padding: 0;
  position: relative;
  height: calc(100vh - 160px);
}

.panorama_img {
  width: 540px;
  margin-left: 100px !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.img_0 {
  perspective: 3000px;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  margin-left: -150px;
  z-index: 1500;
}
.img_0 img {
  transform: rotateX(70deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
  box-shadow: -80px 60px 15px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
  transform-style: preserve-3d;
}
.img_0:hover img {
  transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tour_inner h5 {
  font-size: 30px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 380px;
  margin-top: 0px;
}

.image_carousel {
  width: 100%;
  height: calc(100vh - 360px);
}

.inner_text {
  width: 80%;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  color: grey;
  align-items: center;
  margin-top: -100px;
  padding-bottom: 35px;
}

.inner_text h6,
.inner_text ul {
  font-size: 18px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

@media only screen and (max-width: 1400px) {
  .swiper2 {
    display: flex !important;
  }
  .swiper1 {
    display: none !important;
  }
  .panorama_img {
    width: 700px;
  }
  .img_0 img {
    margin-top: 150px;
  }

  .tour_inner h5 {
    margin-left: 200px;
  }
}

@media only screen and (max-width: 900px) {
  .panorama_img {
    width: 90%;
    margin-left: 0px !important;
  }
  .img_0,
  .img_1,
  .img_2,
  .img_3,
  .img_4,
  .img_5,
  .img_6 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0px !important;
    perspective: none !important;
    position: static !important;
    transform: none !important;
    transform-style: none !important;
  }

  .img_0 {
    /* width: 80%; */
    padding-left: 60px;
    margin-top: -100px;
  }

  .img_0:hover {
    padding-left: 0px;
    transition: 1s;
    margin-top: -100px;
  }

  .tour_inner h5 {
    margin-left: 0px;
    font-size: 24px;
    justify-content: center;
    margin-top: -30px;
    margin-left: -150px;
    z-index: 1500;
  }

  .inner_text {
    margin-top: -250px;
    padding: 10px;
  }
}
